<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Tetris Controls</h1>
    <form action="/action" method="POST" >
        <p>
            <input type="submit" name="actionbtn" value="LEFT">
            <input type="submit" name="actionbtn" value="ROTATE">
            <input type="submit" name="actionbtn" value="RIGHT">
        </p>
    </form>
</body>
</html>