<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Tetris Controls</h1>
        <p>
			<button type="button" id="btnLeft" >Left</button>
			<button type="button" id="btnRotate" >Rotate</button>
			<button type="button" id="btnRight" >Right</button>
        </p>
	<p id="lastMove"></p>
	<p id="response"></p>

	<script>
	document.getElementById("btnLeft").addEventListener("click", function(){
		sendAction("LEFT");
	});
	document.getElementById("btnRotate").addEventListener("click", function(){
		sendAction("ROTATE");
	});
	document.getElementById("btnRight").addEventListener("click", function(){
		sendAction("RIGHT");
	});

	function sendAction(cmd) {
			var xmlhttp;

			document.getElementById("lastMove").innerHTML = Date() + ' ' + cmd;

			if (window.XMLHttpRequest)
				{// code for IE7+, Firefox, Chrome, Opera, Safari
				xmlhttp=new XMLHttpRequest();
				}
			else
				{// code for IE6, IE5
				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
				}

			xmlhttp.open("POST","action",true);
			xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			data="actionbtn=" + cmd;
			xmlhttp.send(data);

			//When the response comes
			xmlhttp.onreadystatechange=function()
				{
				if (xmlhttp.readyState==4 && xmlhttp.status==200)
					{
					//document.getElementById("response").innerHTML=xmlhttp.responseText;
					}
			}
		}

	</script>

</body>
</html>
