.button
{
    background: #666;
    padding: 3.5px 7px;
    border-top: 1px solid #eeeeee;

    -webkit-border-radius: 39px;
    -moz-border-radius: 39px;
    border-radius: 39px;

    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;

    color: white;
    font-size: 15px;
    font-family: verdana, serif;
    text-decoration: none;
    vertical-align: middle;
}
